.header{
    width:100%;
    height:158px;
    background:#e9e9e9 url(../Index-img/1.jpg) repeat-x;
    .headerbox{
        width:1163px;
        height:158px;
        margin:0 auto;
        .header-top{
            height:42px;
            background:url(../Index-img/1.jpg) repeat-x ;
            .left{
                float:left;
                padding-left:38px;
                a{
                    margin-top:5px;
                    float:left;
                    font-size:12px;
                    color:#666;
                    width:106px;
                    height:31px;
                    line-height:31px;
                    text-align:center;
                    border-right:1px solid #e7e7e7;
                    &:hover{
                        color:#ff5c00;
                    }
                }
                .my{
                    background:white;
                    color:#ff5c00;
                    border:1px solid #cccccc;
                    border-bottom:0;
                    height:35px;
                }
                .lastbox{
                    float:left;
                    width:86px;
                    margin-top:5px;
                    height:31px;
                    padding:0 10px;
                    position:relative;
                    border-right:1px solid #e7e7e7;
                    .last {
                        font-size:12px;
                        color:#666;
                        width:86px;
                        height:31px;
                      
                        line-height:31px;
                        text-align:center;
                        border:0;
                        margin-top:0;
                        z-index:2;
                        position:relative;
                         span{
                            padding-left:30px;
                            float:left;
                            background:url(../Index-img/5.png) no-repeat 3px 6px;
                        }
                    }
                    .pic{
                        position:absolute;
                        left:10px;
                        top:35px;
                        display:none;
                        z-index:1;
                        border:1px solid #ff5c00;
                    }
                }
            }
            .right{
                float:right;
                height:42px;
                padding-top:15px;
                padding-right:38px;
                 p{
                    float:left;
                    font-size:12px;
                    color:#666;
                    padding:0 18px; 
                    height:14px;
                    line-height:14px;
                    text-align:center;
                }
               
                a{
                    float:left;
                    font-size:11px;
                    color:#666;
                    margin-bottom:10px;
                    padding:0 7px;
                    height:14px;
                    line-height:14px;
                    text-align:center;
                    border-right:1px solid #ccc;
                    z-index:2;
                    &:hover{
                        color:#ff5c00;
                    }
                }
                .last{
                    border-right:0;
                }
                .login{
                    border-right:0;
                    color:#ff5c00;
                    padding-left:0;
                }
                .free{
                    color:#ff5c00;
                    padding-left:0;
                }
                .link{
                    position:relative;
                    padding-right:19px;
                    background:url(../Index-img/6.png) no-repeat 58px 5px;
                }
            }
             .one{
                    float:left;
                    position:relative;
                    ul{
                        display:none;
                        padding-top:5px;
                        position:absolute;
                        top:-5px;
                        left:3px;
                        z-index:1;
                        border:1px solid #ff5c00;
                        background:white;
                    }
                    ul li{
                        width:60px;
                        height:20px;
                        padding:0 3px;
                        a{
                            border-right:0;
                            display:block;
                            height:20px;
                            line-height:20px;
                            margin-bottom:0;
                            padding:0;
                        }
                    }
                }
        }
        .header-bottom{
            height:90px;
            padding:26px 38px 0 42px;
            .left{
                margin-top:5px;
                width:150px;
                height:55px;
                float:left;
                margin-right:90px;
                background:url(../Index-img/8.png) no-repeat;
            }
            .center{
                float:left;
                 li{
                    float:left;
                    width:75px;
                    height:68px;
                    padding:0 15px;
                    img{
                        display:block;
                        margin:0 auto;
                    }
                    a{
                        display:block;
                        color:#707070;
                        font-size:12px;
                        height:28px;
                        line-height:28px;
                        margin:0 auto;
                    }
                }
            }
            .right{
                float:right;
                .txt{
                    width:429px;
                    height:35px;
                    border:2px solid #ff5c00;
                    color:#666666;
                    font-size:12px;
                    padding-left:8px;
                    outline:none;
                }
                .btn{
                    width:59px;
                    height:39px;
                    float:right;
                    background:#ff5c00  url(../Index-img/5.jpg) no-repeat 16px 7px;
                }
                ul li{
                    float:left;
                    overflow:hidden;
                    color:#999999;
                    font-size:12px;
                    height:30px;
                    line-height:30px;
                    a{
                        color:#999999;
                        font-size:12px;
                        float:left;
                        padding:0 6px;
                        &:hover{
                            color:#ff5c00;
                        }
                    }
                    .first{
                        color:#ff5c00;
                    }
                }
            }
        }
    }
}
.nav{
   width:100%;
   height:35px; 
   background:white;
   border-top:1px solid #cccccc;
   border-bottom: 1px solid #cccccc;
   .navbox{
       width:1125px;
       margin:0 auto;
       position:relative;
        .all{
           float:left;
           color:#ff5c00;
           font-size:12px;
           width:141px;
           height:35px;
           line-height:35px;
           text-align:center;
           background:url(../Index-img/21.jpg) no-repeat 110px center;
       }
       .side{
           position:absolute;
           clear:both;
           display:none;
           top:35px;
           li{
               font-size:12px;
               .img{
                    float:left;
                    padding-top:13px;
                    padding-left:22px;
                    padding-right:12px;
               }
               .li{
                  width: 141px;
                  height: 40px;
                  color: #666666;
                  font-size: 12px;
                  line-height: 40px;
                  float:left; 
                  background: white url(../Index-img/20.jpg) no-repeat 110px center;
                  &:hover{
                    color: #ff5c00;
                 }
               }
               .links{
                   position:absolute;
                   left:140px;
                   width:950px;
                    top:0;
                    background:white;
                    overflow:hidden;
                    border:1px solid transparent;
                    display:none;
                    .link-left{
                        width:679px;
                        margin:0 30px;
                        float:left;
                        dl{ 
                            clear:both;
                            dt{
                                height:25px;
                                border-bottom:1px dotted #e4e4e4;  
                                a{
                                    display:block;
                                    font-size:12px;
                                    color:#666;
                                    height:25px;
                                    line-height:25px;
                                    font-size:900;
                                    &:hover{
                                        color: #ff5c00;
                                     }
                                }
                            }
                            dd{
                                float:left;
                                a{
                                    display:block;
                                    font-size:12px;
                                    color:#888;
                                    height:14px;
                                    line-height:14px;
                                    padding: 0 6px;
                                    margin:9px 0;
                                    border-right:1px solid #e0dae0;
                                    &:hover{
                                    color: #ff5c00;
                                 }
                                }
                                a:first-child{
                                    padding-left:0;
                               }
                               a:last-child{
                                    border-right:0;
                               }
                            }
                        }
                    }
                    .link-right{
                        width:210px;
                        overflow:hidden;
                        float:left;
                        border-left:1px dotted #e4e4e4;
                    }
               }
           }
       }
       .navs{
//         overflow:hidden;
            height:35px;
           li{
               float:left;
               height:35px;
               padding:0 20px;
               a{ 
                   display:block;
                   color:#333333;
                   font-size:12px;
                   height:35px;
                   line-height:35px;
                   text-align:center;
                   margin:0 auto;
               }
              
               .last{
                    color:#ff5c00;
               }
               
           }
            .more{
                   position:relative;
//                 height:70px;
                   ul{
                        width:88px;
                        clear:both;
                        height:35px;
                        position:absolute;
                        top:34px;
                        left:-1px;
                        z-index:1;
                        display:none;
                       .next{
                           text-align:center;
                               a{
                                   display:block;
                                   &:hover{
                                       color:#ff5c00;
                                   }
                               }
                       }
                   }
               }
       }
   }
}