@charset "UTF-8";
html, body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, th, caption, form, hr, h1, h2, h3, h4, h5, h6, input, img {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial;
  background: #e9e9e9; }

a {
  text-decoration: none;
  cursor: pointer; }

ul, li {
  list-style: none; }

img {
  border: none; }

.last {
  width: 100%;
  height: 276px; }
  .last .lastbox {
    width: 100%;
    background: #ff5c00;
    height: 276px; }
    .last .lastbox .last-top {
      width: 1133px;
      height: 76px;
      padding-left: 30px;
      padding-top: 30px;
      margin: 0 auto; }
      .last .lastbox .last-top .infor {
        width: 260px;
        padding-right: 20px;
        float: left; }
        .last .lastbox .last-top .infor a {
          float: left;
          width: 60px;
          padding-left: 40px;
          height: 36px;
          color: white;
          font-size: 24px;
          font-weight: 900;
          line-height: 36px; }
        .last .lastbox .last-top .infor .one {
          background: url(../Index-img/126.jpg) no-repeat; }
        .last .lastbox .last-top .infor .two {
          background: url(../Index-img/125.jpg) no-repeat; }
        .last .lastbox .last-top .infor .three {
          background: url(../Index-img/127.jpg) no-repeat; }
        .last .lastbox .last-top .infor .four {
          background: url(../Index-img/128.jpg) no-repeat; }
        .last .lastbox .last-top .infor p {
          float: left;
          width: 160px;
          height: 20px;
          line-height: 20px;
          color: white;
          font-size: 12px;
          font-weight: 900;
          padding-top: 36px; }
    .last .lastbox .last-boxed {
      width: 100%;
      height: 170px;
      background: white; }
      .last .lastbox .last-boxed .last-bottom {
        width: 1135px;
        margin: 0 auto;
        height: 150px;
        padding-left: 30px;
        padding-top: 20px; }
        .last .lastbox .last-boxed .last-bottom .left {
          float: left;
          width: 960px; }
          .last .lastbox .last-boxed .last-bottom .left dl {
            float: left;
            padding-left: 30px;
            width: 130px; }
          .last .lastbox .last-boxed .last-bottom .left .one {
            background: url(../Index-img/129.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left .two {
            background: url(../Index-img/130.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left .three {
            background: url(../Index-img/131.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left .four {
            background: url(../Index-img/132.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left .five {
            background: url(../Index-img/133.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left .six {
            background: url(../Index-img/134.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left dt {
            height: 30px;
            color: #000;
            font-size: 12px;
            line-height: 30px; }
          .last .lastbox .last-boxed .last-bottom .left dd a {
            height: 26px;
            color: #666666;
            font-size: 12px;
            line-height: 26px; }
            .last .lastbox .last-boxed .last-bottom .left dd a:hover {
              color: #ff5c00; }
        .last .lastbox .last-boxed .last-bottom .right {
          width: 110px;
          float: left; }
          .last .lastbox .last-boxed .last-bottom .right .weixin {
            width: 96px;
            height: 24px;
            color: #000;
            font-size: 12px;
            line-height: 24px;
            padding-left: 26px;
            background: url(../Index-img/136.jpg) no-repeat 6px 3px; }

.footer {
  width: 100%;
  height: 174px;
  border-top: 1px solid #e0e0e0; }
  .footer .footerbox {
    width: 1163px;
    padding-top: 20px;
    margin: 0 auto; }
    .footer .footerbox .naved {
      width: 390px;
      margin: 0 auto;
      overflow: hidden; }
      .footer .footerbox .naved a {
        float: left;
        padding: 0 10px;
        height: 13px;
        color: #999;
        font-size: 12px;
        line-height: 13px;
        border-right: 1px solid #ad99ad; }
        .footer .footerbox .naved a:hover {
          color: #ff5c00; }
      .footer .footerbox .naved .rule {
        border-right: 0; }
    .footer .footerbox .page1, .footer .footerbox .page2 {
      height: 34px;
      color: #999;
      font-size: 12px;
      line-height: 34px;
      text-align: center; }
    .footer .footerbox .page2 {
      height: 18px;
      line-height: 18px; }
    .footer .footerbox .tu {
      display: block;
      margin: 0 auto;
      width: 100px;
      height: 47px;
      margin-top: 12px; }
    .footer .footerbox .page3 {
      text-align: center;
      margin: 0 auto;
      width: 370px;
      overflow: hidden; }
      .footer .footerbox .page3 a {
        width: 150px;
        float: left;
        height: 24px;
        color: #999;
        font-size: 12px;
        line-height: 24px; }
      .footer .footerbox .page3 .right {
        width: 170px;
        padding-left: 24px;
        background: url(../Index-img/138.png) no-repeat; }

.aside {
  width: 36px;
  height: 100%;
  background: white;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  cursor: pointer; }
  .aside .asidebox {
    width: 36px;
    height: 688px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto; }
  .aside div {
    width: 22px;
    margin: 0 auto; }
    .aside div p {
      font-size: 12px;
      color: #666666;
      width: 22px;
      line-height: 18px;
      text-align: center;
      padding-top: 10px; }
  .aside .person {
    margin-bottom: 40px;
    padding-top: 6px;
    padding-left: 4px;
    width: 32px;
    height: 30px; }
  .aside .shopCar {
    width: 29px;
    height: 124px;
    padding-left: 7px;
    padding-top: 14px;
    border-top: 1px solid #eae5e1;
    border-bottom: 1px solid #eae5e1; }
    .aside .shopCar span {
      color: #ff5c00; }
  .aside .kefu {
    width: 36px;
    height: 86px;
    color: white;
    padding-top: 5px;
    background: #ff5c00; }
    .aside .kefu .icon-kefu {
      padding-left: 10px; }
    .aside .kefu p {
      width: 26px;
      color: white;
      margin: 0 auto; }
  .aside .ewm {
    margin: 40px 0;
    padding-top: 6px;
    padding-left: 8px;
    width: 28px;
    height: 30px; }
  .aside .wjx {
    padding-top: 6px;
    padding-left: 8px;
    width: 28px;
    height: 30px;
    margin-bottom: 40px; }
  .aside .db {
    position: absolute;
    left: 0;
    padding-left: 7px;
    padding-top: 5px;
    width: 29px;
    height: 31px;
    bottom: 30px; }
  .aside .iconfont {
    font-size: 22px; }
  .aside .my {
    position: absolute;
    width: 288px;
    height: 160px;
    left: -320px;
    top: 0;
    background: white;
    display: none; }
    .aside .my div {
      position: absolute;
      right: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: white; }
    .aside .my i {
      padding-top: 10px;
      padding-left: 255px; }
    .aside .my img {
      display: block;
      margin: 0 auto; }
    .aside .my .txt1 {
      width: 215px;
      margin: 0 auto;
      color: #525261; }
      .aside .my .txt1 a {
        color: #ff5c00; }
  .aside .my-two {
    position: absolute;
    width: 288px;
    height: 160px;
    left: -320px;
    top: 332px;
    background: white;
    display: none; }
    .aside .my-two div {
      position: absolute;
      right: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: white; }
    .aside .my-two i {
      padding-top: 10px;
      padding-left: 255px; }
    .aside .my-two img {
      display: block;
      margin: 0 auto; }
    .aside .my-two .txt1 {
      width: 215px;
      margin: 0 auto;
      color: #525261; }
      .aside .my-two .txt1 a {
        color: #ff5c00; }
  .aside .my-kefu {
    width: 51px;
    height: 36px;
    position: absolute;
    left: -100px;
    top: 408px;
    color: #535362;
    font-size: 12px;
    line-height: 36px;
    background: white;
    padding-left: 27px;
    display: none; }
    .aside .my-kefu div {
      position: absolute;
      right: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: white; }
  .aside .my-top {
    width: 66px;
    height: 36px;
    position: absolute;
    left: -100px;
    bottom: 30px;
    color: #535362;
    font-size: 12px;
    line-height: 36px;
    background: white;
    padding-left: 12px;
    display: none; }
    .aside .my-top div {
      position: absolute;
      right: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: white; }
  .aside .my-car {
    width: 264px;
    height: 100%;
    padding: 0 12px;
    background: white;
    display: none;
    position: absolute;
    left: -320px;
    top: 0; }
    .aside .my-car div {
      position: absolute;
      right: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: white; }
    .aside .my-car .shop {
      width: 288px;
      height: 46px;
      line-height: 46px;
      border-bottom: 1px solid #eeeeee;
      text-align: left; }
      .aside .my-car .shop span {
        color: #333333;
        font-size: 16px; }
      .aside .my-car .shop i {
        padding-top: 5px;
        padding-left: 198px; }
    .aside .my-car img {
      display: block;
      margin: 30px auto 0; }
    .aside .my-car .txt3 {
      width: 124px;
      color: #444;
      font-size: 12px;
      line-height: 20px;
      margin: 15px auto; }
    .aside .my-car .txt4 {
      border-top: 1px solid #eeeeee;
      height: 46px;
      line-height: 46px;
      width: 264px;
      color: #333;
      font-size: 14px;
      text-align: left; }

.header {
  width: 100%;
  height: 158px;
  background: #e9e9e9 url(../Index-img/1.jpg) repeat-x; }
  .header .headerbox {
    width: 1163px;
    height: 158px;
    margin: 0 auto; }
    .header .headerbox .header-top {
      height: 42px;
      background: url(../Index-img/1.jpg) repeat-x; }
      .header .headerbox .header-top .left {
        float: left;
        padding-left: 38px; }
        .header .headerbox .header-top .left a {
          margin-top: 5px;
          float: left;
          font-size: 12px;
          color: #666;
          width: 106px;
          height: 31px;
          line-height: 31px;
          text-align: center;
          border-right: 1px solid #e7e7e7; }
          .header .headerbox .header-top .left a:hover {
            color: #ff5c00; }
        .header .headerbox .header-top .left .my {
          background: white;
          color: #ff5c00;
          border: 1px solid #cccccc;
          border-bottom: 0;
          height: 35px; }
        .header .headerbox .header-top .left .lastbox {
          float: left;
          width: 86px;
          margin-top: 5px;
          height: 31px;
          padding: 0 10px;
          position: relative;
          border-right: 1px solid #e7e7e7; }
          .header .headerbox .header-top .left .lastbox .last {
            font-size: 12px;
            color: #666;
            width: 86px;
            height: 31px;
            line-height: 31px;
            text-align: center;
            border: 0;
            margin-top: 0;
            z-index: 2;
            position: relative; }
            .header .headerbox .header-top .left .lastbox .last span {
              padding-left: 30px;
              float: left;
              background: url(../Index-img/5.png) no-repeat 3px 6px; }
          .header .headerbox .header-top .left .lastbox .pic {
            position: absolute;
            left: 10px;
            top: 35px;
            display: none;
            z-index: 1;
            border: 1px solid #ff5c00; }
      .header .headerbox .header-top .right {
        float: right;
        height: 42px;
        padding-top: 15px;
        padding-right: 38px; }
        .header .headerbox .header-top .right p {
          float: left;
          font-size: 12px;
          color: #666;
          padding: 0 18px;
          height: 14px;
          line-height: 14px;
          text-align: center; }
        .header .headerbox .header-top .right a {
          float: left;
          font-size: 11px;
          color: #666;
          margin-bottom: 10px;
          padding: 0 7px;
          height: 14px;
          line-height: 14px;
          text-align: center;
          border-right: 1px solid #ccc;
          z-index: 2; }
          .header .headerbox .header-top .right a:hover {
            color: #ff5c00; }
        .header .headerbox .header-top .right .last {
          border-right: 0; }
        .header .headerbox .header-top .right .login {
          border-right: 0;
          color: #ff5c00;
          padding-left: 0; }
        .header .headerbox .header-top .right .free {
          color: #ff5c00;
          padding-left: 0; }
        .header .headerbox .header-top .right .link {
          position: relative;
          padding-right: 19px;
          background: url(../Index-img/6.png) no-repeat 58px 5px; }
      .header .headerbox .header-top .one {
        float: left;
        position: relative; }
        .header .headerbox .header-top .one ul {
          display: none;
          padding-top: 5px;
          position: absolute;
          top: -5px;
          left: 3px;
          z-index: 1;
          border: 1px solid #ff5c00;
          background: white; }
        .header .headerbox .header-top .one ul li {
          width: 60px;
          height: 20px;
          padding: 0 3px; }
          .header .headerbox .header-top .one ul li a {
            border-right: 0;
            display: block;
            height: 20px;
            line-height: 20px;
            margin-bottom: 0;
            padding: 0; }
    .header .headerbox .header-bottom {
      height: 90px;
      padding: 26px 38px 0 42px; }
      .header .headerbox .header-bottom .left {
        margin-top: 5px;
        width: 150px;
        height: 55px;
        float: left;
        margin-right: 90px;
        background: url(../Index-img/8.png) no-repeat; }
      .header .headerbox .header-bottom .center {
        float: left; }
        .header .headerbox .header-bottom .center li {
          float: left;
          width: 75px;
          height: 68px;
          padding: 0 15px; }
          .header .headerbox .header-bottom .center li img {
            display: block;
            margin: 0 auto; }
          .header .headerbox .header-bottom .center li a {
            display: block;
            color: #707070;
            font-size: 12px;
            height: 28px;
            line-height: 28px;
            margin: 0 auto; }
      .header .headerbox .header-bottom .right {
        float: right; }
        .header .headerbox .header-bottom .right .txt {
          width: 429px;
          height: 35px;
          border: 2px solid #ff5c00;
          color: #666666;
          font-size: 12px;
          padding-left: 8px;
          outline: none; }
        .header .headerbox .header-bottom .right .btn {
          width: 59px;
          height: 39px;
          float: right;
          background: #ff5c00 url(../Index-img/5.jpg) no-repeat 16px 7px; }
        .header .headerbox .header-bottom .right ul li {
          float: left;
          overflow: hidden;
          color: #999999;
          font-size: 12px;
          height: 30px;
          line-height: 30px; }
          .header .headerbox .header-bottom .right ul li a {
            color: #999999;
            font-size: 12px;
            float: left;
            padding: 0 6px; }
            .header .headerbox .header-bottom .right ul li a:hover {
              color: #ff5c00; }
          .header .headerbox .header-bottom .right ul li .first {
            color: #ff5c00; }

.nav {
  width: 100%;
  height: 35px;
  background: white;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }
  .nav .navbox {
    width: 1125px;
    margin: 0 auto;
    position: relative; }
    .nav .navbox .all {
      float: left;
      color: #ff5c00;
      font-size: 12px;
      width: 141px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      background: url(../Index-img/21.jpg) no-repeat 110px center; }
    .nav .navbox .side {
      position: absolute;
      clear: both;
      display: none;
      top: 35px; }
      .nav .navbox .side li {
        font-size: 12px; }
        .nav .navbox .side li .img {
          float: left;
          padding-top: 13px;
          padding-left: 22px;
          padding-right: 12px; }
        .nav .navbox .side li .li {
          width: 141px;
          height: 40px;
          color: #666666;
          font-size: 12px;
          line-height: 40px;
          float: left;
          background: white url(../Index-img/20.jpg) no-repeat 110px center; }
          .nav .navbox .side li .li:hover {
            color: #ff5c00; }
        .nav .navbox .side li .links {
          position: absolute;
          left: 140px;
          width: 950px;
          top: 0;
          background: white;
          overflow: hidden;
          border: 1px solid transparent;
          display: none; }
          .nav .navbox .side li .links .link-left {
            width: 679px;
            margin: 0 30px;
            float: left; }
            .nav .navbox .side li .links .link-left dl {
              clear: both; }
              .nav .navbox .side li .links .link-left dl dt {
                height: 25px;
                border-bottom: 1px dotted #e4e4e4; }
                .nav .navbox .side li .links .link-left dl dt a {
                  display: block;
                  font-size: 12px;
                  color: #666;
                  height: 25px;
                  line-height: 25px;
                  font-size: 900; }
                  .nav .navbox .side li .links .link-left dl dt a:hover {
                    color: #ff5c00; }
              .nav .navbox .side li .links .link-left dl dd {
                float: left; }
                .nav .navbox .side li .links .link-left dl dd a {
                  display: block;
                  font-size: 12px;
                  color: #888;
                  height: 14px;
                  line-height: 14px;
                  padding: 0 6px;
                  margin: 9px 0;
                  border-right: 1px solid #e0dae0; }
                  .nav .navbox .side li .links .link-left dl dd a:hover {
                    color: #ff5c00; }
                .nav .navbox .side li .links .link-left dl dd a:first-child {
                  padding-left: 0; }
                .nav .navbox .side li .links .link-left dl dd a:last-child {
                  border-right: 0; }
          .nav .navbox .side li .links .link-right {
            width: 210px;
            overflow: hidden;
            float: left;
            border-left: 1px dotted #e4e4e4; }
    .nav .navbox .navs {
      height: 35px; }
      .nav .navbox .navs li {
        float: left;
        height: 35px;
        padding: 0 20px; }
        .nav .navbox .navs li a {
          display: block;
          color: #333333;
          font-size: 12px;
          height: 35px;
          line-height: 35px;
          text-align: center;
          margin: 0 auto; }
        .nav .navbox .navs li .last {
          color: #ff5c00; }
      .nav .navbox .navs .more {
        position: relative; }
        .nav .navbox .navs .more ul {
          width: 88px;
          clear: both;
          height: 35px;
          position: absolute;
          top: 34px;
          left: -1px;
          z-index: 1;
          display: none; }
          .nav .navbox .navs .more ul .next {
            text-align: center; }
            .nav .navbox .navs .more ul .next a {
              display: block; }
              .nav .navbox .navs .more ul .next a:hover {
                color: #ff5c00; }

.louti {
  position: fixed;
  left: 0;
  top: 200px; }
  .louti ul li {
    margin: 10px 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30px;
    padding-top: 20px;
    height: 80px;
    font-size: 14px;
    line-height: 30px;
    background: white;
    color: #ff5c00; }

.asidepic {
  display: none;
  position: absolute;
  left: 0;
  top: 500px;
  width: 76px;
  height: 335px; }
  .asidepic i {
    padding-left: 60px; }
  .asidepic .picture1 {
    width: 76px;
    height: 283px; }
  .asidepic .picture2 {
    padding-left: 30px; }
  .asidepic img {
    display: block; }

.high {
  position: absolute;
  z-index: 30;
  display: none;
  top: 300px;
  left: 0;
  width: 100%;
  height: 45px;
  background: white;
  border: 1px solid #ff5c00; }
  .high .highbox {
    width: 1090px;
    margin: 0 auto; }
    .high .highbox .logopic {
      float: left; }
    .high .highbox .dd {
      float: left;
      height: px; }
      .high .highbox .dd li {
        padding-top: 3px;
        float: left; }
        .high .highbox .dd li a {
          display: block;
          padding: 0 17px;
          color: #ff5c00;
          font-size: 12px;
          line-height: 39px;
          height: 39px; }
        .high .highbox .dd li p {
          display: none; }
    .high .highbox .search {
      margin-top: 3px;
      float: right; }
      .high .highbox .search .ipt {
        width: 380px;
        height: 35px;
        border: 2px solid #ff5c00;
        color: #666666;
        font-size: 12px;
        padding-left: 8px;
        outline: none; }
      .high .highbox .search .btn {
        width: 59px;
        height: 39px;
        float: right;
        background: #ff5c00 url(../Index-img/5.jpg) no-repeat 16px 7px; }

.banner {
  width: 100%;
  height: 350px;
  background: url(../Index-img/10.png) repeat-x 0 0; }
  .banner .bannerbox {
    width: 1090px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    cursor: pointer; }
    .banner .bannerbox .nv {
      width: 1090px;
      height: 350px;
      position: relative; }
      .banner .bannerbox .nv ul {
        width: 4360px;
        z-index: -1;
        position: relative;
        top: 0;
        left: 0;
        height: 350px; }
      .banner .bannerbox .nv li {
        float: left; }
      .banner .bannerbox .nv img {
        display: block; }
    .banner .bannerbox ol {
      position: absolute;
      width: 102px;
      height: 20px;
      border-radius: 6px;
      background: rgba(0, 0, 0, 0.5);
      bottom: 10px;
      left: 490px; }
      .banner .bannerbox ol li {
        width: 13px;
        height: 13px;
        background: white;
        border-radius: 50%;
        float: left;
        margin-left: 10px;
        margin-top: 3px; }
      .banner .bannerbox ol .active {
        background: #ff5c00; }

.section {
  width: 100%;
  height: 142px;
  padding-top: 20px; }
  .section .sectionbox {
    width: 1090px;
    height: 142px;
    margin: 0 auto; }
    .section .sectionbox .pic {
      float: left;
      width: 350px;
      height: 140px;
      border: 1px solid #cccccc;
      margin-right: 17px; }
      .section .sectionbox .pic:hover {
        border: 1px solid #ff5c00; }
    .section .sectionbox .last {
      margin: 0; }

.detail {
  width: 100%; }
  .detail .detailbox {
    width: 1090px;
    margin: 0 auto; }
    .detail .detailbox .top {
      margin-top: 2px;
      margin-bottom: 5px;
      width: 1090px;
      height: 39px;
      padding-top: 35px;
      position: relative; }
      .detail .detailbox .top .empty {
        height: 1px;
        background: #cccccc; }
      .detail .detailbox .top .title {
        position: absolute;
        left: 450px;
        top: 0;
        height: 76px;
        width: 188px;
        background: #e9e9e9; }
        .detail .detailbox .top .title p {
          text-align: center; }
        .detail .detailbox .top .title .ch {
          padding-top: 15px;
          color: #000;
          font-size: 28px; }
          .detail .detailbox .top .title .ch span {
            color: #ff5c00; }
        .detail .detailbox .top .title .eng {
          color: #9f9d99;
          font-size: 10px; }
    .detail .detailbox .bottom {
      width: 1090px; }
      .detail .detailbox .bottom .content {
        height: 300px;
        width: 1090px;
        margin-top: 2px;
        box-shadow: 2px 2px 2px #d7d7d7,-2px -2px 2px #d7d7d7;
        border: 1px solid transparent;
        border-radius: 10px;
        margin-bottom: 18px; }
        .detail .detailbox .bottom .content:hover {
          border: 1px solid #ff5c00; }
        .detail .detailbox .bottom .content .left {
          width: 600px;
          height: 300px;
          float: left;
          border-right: 1px solid #e5e5e5; }
          .detail .detailbox .bottom .content .left img {
            width: 600px;
            height: 300px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px; }
        .detail .detailbox .bottom .content .right {
          float: left;
          width: 469px;
          height: 287px;
          padding-top: 13px;
          padding-left: 20px;
          background: white;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px; }
          .detail .detailbox .bottom .content .right .a {
            color: #666666;
            font-size: 20px;
            font-weight: 900;
            display: block;
            width: 458px;
            height: 34px;
            line-height: 34px;
            border-bottom: 1px solid #e5e5e5; }
          .detail .detailbox .bottom .content .right .txt1 {
            color: #666666;
            font-size: 14px;
            width: 458px;
            height: 42px;
            line-height: 42px;
            padding-bottom: 114px; }
          .detail .detailbox .bottom .content .right .txt2 {
            color: #df2943;
            font-size: 14px;
            width: 458px;
            height: 76px;
            line-height: 76px; }
            .detail .detailbox .bottom .content .right .txt2 span {
              font-size: 26px; }
            .detail .detailbox .bottom .content .right .txt2 a {
              width: 48px;
              float: right;
              height: 50px;
              border-radius: 50%;
              background: #ff5c00;
              padding-top: 10px;
              padding-left: 12px; }
              .detail .detailbox .bottom .content .right .txt2 a span {
                width: 37px;
                color: white;
                font-size: 18px;
                height: 20px;
                line-height: 20px;
                display: block; }
      .detail .detailbox .bottom .new .right {
        float: left;
        width: 469px;
        height: 279px;
        padding-top: 21px;
        padding-left: 20px;
        background: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
        .detail .detailbox .bottom .new .right .free {
          display: block;
          width: 44px;
          height: 22px;
          background: #01939a;
          border-radius: 9px;
          color: white;
          font-size: 12px;
          line-height: 22px;
          text-align: center;
          margin-bottom: 16px; }
        .detail .detailbox .bottom .new .right .a {
          color: #666666;
          font-size: 20px;
          font-weight: 900;
          display: block;
          width: 458px;
          height: 34px;
          line-height: 34px;
          border-bottom: 1px solid #e5e5e5; }
        .detail .detailbox .bottom .new .right .txt1 {
          padding-top: 8px;
          color: #666666;
          font-size: 14px;
          width: 458px;
          height: 85px;
          line-height: 24px;
          padding-bottom: 0; }
        .detail .detailbox .bottom .new .right .txt3 {
          color: #999;
          font-size: 12px;
          width: 438px;
          height: 18px;
          line-height: 18px;
          padding-left: 20px;
          background: url(../Index-img/97.jpg) no-repeat left center; }
        .detail .detailbox .bottom .new .right .txt2 {
          color: #df2943;
          font-size: 14px;
          width: 458px;
          height: 76px;
          line-height: 76px; }
          .detail .detailbox .bottom .new .right .txt2 span {
            font-size: 26px; }
          .detail .detailbox .bottom .new .right .txt2 a {
            width: 48px;
            float: right;
            height: 50px;
            border-radius: 50%;
            background: #ff5c00;
            padding-top: 10px;
            padding-left: 12px; }
            .detail .detailbox .bottom .new .right .txt2 a span {
              width: 37px;
              color: white;
              font-size: 18px;
              height: 20px;
              line-height: 20px;
              display: block; }
    .detail .detailbox .detail-three .bottom {
      width: 1090px;
      height: 320px; }
      .detail .detailbox .detail-three .bottom .bottom-left {
        float: left;
        width: 370px;
        height: 320px; }
        .detail .detailbox .detail-three .bottom .bottom-left a {
          display: block;
          width: 368px;
          height: 158px;
          overflow: hidden;
          border: 1px solid #cccccc; }
          .detail .detailbox .detail-three .bottom .bottom-left a:hover {
            border: 1px solid #ff5c00; }
      .detail .detailbox .detail-three .bottom .bottom-right {
        float: left;
        width: 720px;
        height: 320px;
        overflow: hidden; }
        .detail .detailbox .detail-three .bottom .bottom-right a {
          float: left;
          width: 178px;
          height: 78px;
          overflow: hidden;
          border: 1px solid #cccccc; }
          .detail .detailbox .detail-three .bottom .bottom-right a:hover {
            border: 1px solid #ff5c00; }

/*# sourceMappingURL=index.css.map */
