@charset "UTF-8";
html, body, div, p, ul, ol, li, dl, dt, dd, table, tr, td, th, caption, form, hr, h1, h2, h3, h4, h5, h6, input, img {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑",Arial;
  background: #e9e9e9; }

a {
  text-decoration: none;
  cursor: pointer; }

ul, li {
  list-style: none; }

img {
  border: none; }

.last {
  width: 100%;
  height: 276px; }
  .last .lastbox {
    width: 100%;
    background: #ff5c00;
    height: 276px; }
    .last .lastbox .last-top {
      width: 1133px;
      height: 76px;
      padding-left: 30px;
      padding-top: 30px;
      margin: 0 auto; }
      .last .lastbox .last-top .infor {
        width: 260px;
        padding-right: 20px;
        float: left; }
        .last .lastbox .last-top .infor a {
          float: left;
          width: 60px;
          padding-left: 40px;
          height: 36px;
          color: white;
          font-size: 24px;
          font-weight: 900;
          line-height: 36px; }
        .last .lastbox .last-top .infor .one {
          background: url(../Index-img/126.jpg) no-repeat; }
        .last .lastbox .last-top .infor .two {
          background: url(../Index-img/125.jpg) no-repeat; }
        .last .lastbox .last-top .infor .three {
          background: url(../Index-img/127.jpg) no-repeat; }
        .last .lastbox .last-top .infor .four {
          background: url(../Index-img/128.jpg) no-repeat; }
        .last .lastbox .last-top .infor p {
          float: left;
          width: 160px;
          height: 20px;
          line-height: 20px;
          color: white;
          font-size: 12px;
          font-weight: 900;
          padding-top: 36px; }
    .last .lastbox .last-boxed {
      width: 100%;
      height: 170px;
      background: white; }
      .last .lastbox .last-boxed .last-bottom {
        width: 1135px;
        margin: 0 auto;
        height: 150px;
        padding-left: 30px;
        padding-top: 20px; }
        .last .lastbox .last-boxed .last-bottom .left {
          float: left;
          width: 960px; }
          .last .lastbox .last-boxed .last-bottom .left dl {
            float: left;
            padding-left: 30px;
            width: 130px; }
          .last .lastbox .last-boxed .last-bottom .left .one {
            background: url(../Index-img/129.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left .two {
            background: url(../Index-img/130.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left .three {
            background: url(../Index-img/131.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left .four {
            background: url(../Index-img/132.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left .five {
            background: url(../Index-img/133.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left .six {
            background: url(../Index-img/134.jpg) no-repeat; }
          .last .lastbox .last-boxed .last-bottom .left dt {
            height: 30px;
            color: #000;
            font-size: 12px;
            line-height: 30px; }
          .last .lastbox .last-boxed .last-bottom .left dd a {
            height: 26px;
            color: #666666;
            font-size: 12px;
            line-height: 26px; }
            .last .lastbox .last-boxed .last-bottom .left dd a:hover {
              color: #ff5c00; }
        .last .lastbox .last-boxed .last-bottom .right {
          width: 110px;
          float: left; }
          .last .lastbox .last-boxed .last-bottom .right .weixin {
            width: 96px;
            height: 24px;
            color: #000;
            font-size: 12px;
            line-height: 24px;
            padding-left: 26px;
            background: url(../Index-img/136.jpg) no-repeat 6px 3px; }

.footer {
  width: 100%;
  height: 174px;
  border-top: 1px solid #e0e0e0; }
  .footer .footerbox {
    width: 1163px;
    padding-top: 20px;
    margin: 0 auto; }
    .footer .footerbox .naved {
      width: 390px;
      margin: 0 auto;
      overflow: hidden; }
      .footer .footerbox .naved a {
        float: left;
        padding: 0 10px;
        height: 13px;
        color: #999;
        font-size: 12px;
        line-height: 13px;
        border-right: 1px solid #ad99ad; }
        .footer .footerbox .naved a:hover {
          color: #ff5c00; }
      .footer .footerbox .naved .rule {
        border-right: 0; }
    .footer .footerbox .page1, .footer .footerbox .page2 {
      height: 34px;
      color: #999;
      font-size: 12px;
      line-height: 34px;
      text-align: center; }
    .footer .footerbox .page2 {
      height: 18px;
      line-height: 18px; }
    .footer .footerbox .tu {
      display: block;
      margin: 0 auto;
      width: 100px;
      height: 47px;
      margin-top: 12px; }
    .footer .footerbox .page3 {
      text-align: center;
      margin: 0 auto;
      width: 370px;
      overflow: hidden; }
      .footer .footerbox .page3 a {
        width: 150px;
        float: left;
        height: 24px;
        color: #999;
        font-size: 12px;
        line-height: 24px; }
      .footer .footerbox .page3 .right {
        width: 170px;
        padding-left: 24px;
        background: url(../Index-img/138.png) no-repeat; }

.aside {
  width: 36px;
  height: 100%;
  background: white;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  box-shadow: -3px -3px 5px #f3f1f3; }
  .aside .asidebox {
    width: 36px;
    height: 688px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto; }
  .aside .person {
    position: relative; }
    .aside .person .yonghu {
      margin-bottom: 40px;
      padding-top: 6px;
      width: 32px;
      padding-left: 2px;
      height: 30px;
      display: block;
      color: #535362;
      cursor: pointer; }
  .aside .shopCar {
    width: 29px;
    height: 124px;
    position: relative;
    padding-left: 7px;
    padding-top: 14px;
    border-top: 1px solid #eae5e1;
    border-bottom: 1px solid #eae5e1; }
    .aside .shopCar .gouwuche {
      color: #535362;
      cursor: pointer; }
      .aside .shopCar .gouwuche #p {
        display: inline-block;
        font-size: 12px;
        color: #666666;
        width: 22px;
        line-height: 18px;
        text-align: center;
        padding-top: 10px; }
      .aside .shopCar .gouwuche .number {
        color: #ff5c00; }
  .aside .kefu {
    width: 36px;
    height: 86px;
    color: white;
    padding-top: 5px;
    position: relative;
    background: #ff5c00; }
    .aside .kefu .inline-kf {
      color: white;
      cursor: pointer; }
      .aside .kefu .inline-kf #p {
        display: inline-block;
        padding-left: 4px;
        line-height: 18px;
        text-align: center;
        padding-top: 10px;
        width: 30px;
        color: white;
        font-size: 12px; }
    .aside .kefu .icon-kefu {
      padding-left: 10px; }
  .aside .ewm {
    margin: 40px 0;
    padding-top: 6px;
    padding-left: 8px;
    width: 28px;
    height: 30px; }
    .aside .ewm .erweima {
      color: #535362;
      cursor: pointer; }
  .aside .wjx {
    position: relative;
    padding-top: 6px;
    padding-left: 8px;
    width: 28px;
    height: 30px;
    margin-bottom: 40px; }
    .aside .wjx .wujiaoxing {
      color: #535362;
      cursor: pointer; }
  .aside .db {
    position: absolute;
    left: 0;
    padding-left: 7px;
    padding-top: 5px;
    width: 29px;
    height: 31px;
    bottom: 30px; }
    .aside .db .dingbu {
      color: #535362;
      cursor: pointer; }
  .aside .iconfont {
    font-size: 22px; }
  .aside .my {
    padding-top: 10px;
    position: absolute;
    width: 288px;
    height: 150px;
    left: -320px;
    top: 0;
    background: white;
    display: none; }
    .aside .my .div {
      position: absolute;
      right: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: white; }
    .aside .my i {
      padding-left: 255px;
      color: #605f67; }
    .aside .my img {
      display: block;
      margin: 0 auto; }
    .aside .my .txt1 {
      width: 238px;
      font-size: 12px;
      margin: 15px auto 0;
      color: #525261; }
      .aside .my .txt1 a {
        display: inline-block;
        color: #ff5c00; }
  .aside .my-two {
    padding-top: 10px;
    position: absolute;
    width: 288px;
    height: 150px;
    left: -320px;
    top: 0;
    background: white;
    display: none; }
    .aside .my-two .div {
      position: absolute;
      right: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: white; }
    .aside .my-two i {
      padding-left: 255px;
      color: #605f67; }
    .aside .my-two img {
      display: block;
      margin: 0 auto; }
    .aside .my-two .txt1 {
      font-size: 12px;
      width: 238px;
      margin: 15px auto 0;
      color: #525261; }
      .aside .my-two .txt1 a {
        color: #ff5c00; }
  .aside .my-kefu {
    width: 51px;
    height: 36px;
    position: absolute;
    left: -100px;
    top: 0;
    font-size: 12px;
    line-height: 36px;
    background: white;
    padding-left: 27px;
    display: none; }
    .aside .my-kefu .div {
      position: absolute;
      right: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: white; }
    .aside .my-kefu a {
      color: #535362; }
  .aside .my-top {
    width: 66px;
    height: 36px;
    position: absolute;
    left: -100px;
    top: 0;
    font-size: 12px;
    line-height: 36px;
    background: white;
    padding-left: 12px;
    display: none; }
    .aside .my-top .div {
      position: absolute;
      right: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: white; }
    .aside .my-top a {
      color: #535362; }
  .aside .my-cars {
    width: 264px;
    height: 500px;
    padding: 0 12px;
    background: white;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px; }
    .aside .my-cars .div {
      position: absolute;
      right: -12px;
      top: 12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-left-color: white; }
    .aside .my-cars .shop {
      width: 288px;
      height: 46px;
      line-height: 46px;
      border-bottom: 1px solid #eeeeee;
      text-align: left; }
      .aside .my-cars .shop span {
        color: #333333;
        font-size: 16px; }
      .aside .my-cars .shop i {
        padding-top: 5px;
        padding-left: 198px; }
    .aside .my-cars img {
      display: block;
      margin: 30px auto 0; }
    .aside .my-cars .txt3 {
      width: 124px;
      color: #444;
      font-size: 12px;
      line-height: 20px;
      margin: 15px auto; }
    .aside .my-cars .txt4 {
      border-top: 1px solid #eeeeee;
      height: 46px;
      line-height: 46px;
      width: 264px;
      color: #333;
      font-size: 14px;
      text-align: left; }

.header {
  width: 100%;
  height: 158px;
  background: #e9e9e9 url(../Index-img/1.jpg) repeat-x; }
  .header .headerbox {
    width: 1163px;
    height: 158px;
    margin: 0 auto; }
    .header .headerbox .header-top {
      height: 42px;
      background: url(../Index-img/1.jpg) repeat-x; }
      .header .headerbox .header-top .left {
        float: left;
        padding-left: 38px; }
        .header .headerbox .header-top .left a {
          margin-top: 5px;
          float: left;
          font-size: 12px;
          color: #666;
          width: 106px;
          height: 31px;
          line-height: 31px;
          text-align: center;
          border-right: 1px solid #e7e7e7; }
          .header .headerbox .header-top .left a:hover {
            color: #ff5c00; }
        .header .headerbox .header-top .left .my {
          background: white;
          color: #ff5c00;
          border: 1px solid #cccccc;
          border-bottom: 0;
          height: 35px; }
        .header .headerbox .header-top .left .lastbox {
          float: left;
          width: 86px;
          margin-top: 5px;
          height: 31px;
          padding: 0 10px;
          position: relative;
          border-right: 1px solid #e7e7e7; }
          .header .headerbox .header-top .left .lastbox .last {
            font-size: 12px;
            color: #666;
            width: 86px;
            height: 31px;
            line-height: 31px;
            text-align: center;
            border: 0;
            margin-top: 0;
            z-index: 2;
            position: relative; }
            .header .headerbox .header-top .left .lastbox .last span {
              padding-left: 30px;
              float: left;
              background: url(../Index-img/5.png) no-repeat 3px 6px; }
          .header .headerbox .header-top .left .lastbox .pic {
            position: absolute;
            left: 10px;
            top: 35px;
            display: none;
            z-index: 1;
            border: 1px solid #ff5c00; }
      .header .headerbox .header-top .right {
        float: right;
        height: 42px;
        padding-top: 15px;
        padding-right: 38px; }
        .header .headerbox .header-top .right p {
          float: left;
          font-size: 12px;
          color: #666;
          padding: 0 18px;
          height: 14px;
          line-height: 14px;
          text-align: center; }
        .header .headerbox .header-top .right a {
          float: left;
          font-size: 11px;
          color: #666;
          margin-bottom: 10px;
          padding: 0 7px;
          height: 14px;
          line-height: 14px;
          text-align: center;
          border-right: 1px solid #ccc;
          z-index: 2; }
          .header .headerbox .header-top .right a:hover {
            color: #ff5c00; }
        .header .headerbox .header-top .right .last {
          border-right: 0; }
        .header .headerbox .header-top .right .login {
          border-right: 0;
          color: #ff5c00;
          padding-left: 0; }
        .header .headerbox .header-top .right .free {
          color: #ff5c00;
          padding-left: 0; }
        .header .headerbox .header-top .right .link {
          position: relative;
          padding-right: 19px;
          background: url(../Index-img/6.png) no-repeat 58px 5px; }
      .header .headerbox .header-top .one {
        float: left;
        position: relative; }
        .header .headerbox .header-top .one ul {
          display: none;
          padding-top: 5px;
          position: absolute;
          top: -5px;
          left: 3px;
          z-index: 1;
          border: 1px solid #ff5c00;
          background: white; }
        .header .headerbox .header-top .one ul li {
          width: 60px;
          height: 20px;
          padding: 0 3px; }
          .header .headerbox .header-top .one ul li a {
            border-right: 0;
            display: block;
            height: 20px;
            line-height: 20px;
            margin-bottom: 0;
            padding: 0; }
    .header .headerbox .header-bottom {
      height: 90px;
      padding: 26px 38px 0 42px; }
      .header .headerbox .header-bottom .left {
        margin-top: 5px;
        width: 150px;
        height: 55px;
        float: left;
        margin-right: 90px;
        background: url(../Index-img/8.png) no-repeat; }
      .header .headerbox .header-bottom .center {
        float: left; }
        .header .headerbox .header-bottom .center li {
          float: left;
          width: 75px;
          height: 68px;
          padding: 0 15px; }
          .header .headerbox .header-bottom .center li img {
            display: block;
            margin: 0 auto; }
          .header .headerbox .header-bottom .center li a {
            display: block;
            color: #707070;
            font-size: 12px;
            height: 28px;
            line-height: 28px;
            margin: 0 auto; }
      .header .headerbox .header-bottom .right {
        float: right; }
        .header .headerbox .header-bottom .right .txt {
          width: 429px;
          height: 35px;
          border: 2px solid #ff5c00;
          color: #666666;
          font-size: 12px;
          padding-left: 8px;
          outline: none; }
        .header .headerbox .header-bottom .right .btn {
          width: 59px;
          height: 39px;
          float: right;
          background: #ff5c00 url(../Index-img/5.jpg) no-repeat 16px 7px; }
        .header .headerbox .header-bottom .right ul li {
          float: left;
          overflow: hidden;
          color: #999999;
          font-size: 12px;
          height: 30px;
          line-height: 30px; }
          .header .headerbox .header-bottom .right ul li a {
            color: #999999;
            font-size: 12px;
            float: left;
            padding: 0 6px; }
            .header .headerbox .header-bottom .right ul li a:hover {
              color: #ff5c00; }
          .header .headerbox .header-bottom .right ul li .first {
            color: #ff5c00; }

.nav {
  width: 100%;
  height: 35px;
  background: white;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }
  .nav .navbox {
    width: 1125px;
    margin: 0 auto;
    position: relative; }
    .nav .navbox .all {
      float: left;
      color: #ff5c00;
      font-size: 12px;
      width: 141px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      background: url(../Index-img/21.jpg) no-repeat 110px center; }
    .nav .navbox .side {
      position: absolute;
      clear: both;
      display: none;
      top: 35px; }
      .nav .navbox .side li {
        font-size: 12px; }
        .nav .navbox .side li .img {
          float: left;
          padding-top: 13px;
          padding-left: 22px;
          padding-right: 12px; }
        .nav .navbox .side li .li {
          width: 141px;
          height: 40px;
          color: #666666;
          font-size: 12px;
          line-height: 40px;
          float: left;
          background: white url(../Index-img/20.jpg) no-repeat 110px center; }
          .nav .navbox .side li .li:hover {
            color: #ff5c00; }
        .nav .navbox .side li .links {
          position: absolute;
          left: 140px;
          width: 950px;
          top: 0;
          background: white;
          overflow: hidden;
          border: 1px solid transparent;
          display: none; }
          .nav .navbox .side li .links .link-left {
            width: 679px;
            margin: 0 30px;
            float: left; }
            .nav .navbox .side li .links .link-left dl {
              clear: both; }
              .nav .navbox .side li .links .link-left dl dt {
                height: 25px;
                border-bottom: 1px dotted #e4e4e4; }
                .nav .navbox .side li .links .link-left dl dt a {
                  display: block;
                  font-size: 12px;
                  color: #666;
                  height: 25px;
                  line-height: 25px;
                  font-size: 900; }
                  .nav .navbox .side li .links .link-left dl dt a:hover {
                    color: #ff5c00; }
              .nav .navbox .side li .links .link-left dl dd {
                float: left; }
                .nav .navbox .side li .links .link-left dl dd a {
                  display: block;
                  font-size: 12px;
                  color: #888;
                  height: 14px;
                  line-height: 14px;
                  padding: 0 6px;
                  margin: 9px 0;
                  border-right: 1px solid #e0dae0; }
                  .nav .navbox .side li .links .link-left dl dd a:hover {
                    color: #ff5c00; }
                .nav .navbox .side li .links .link-left dl dd a:first-child {
                  padding-left: 0; }
                .nav .navbox .side li .links .link-left dl dd a:last-child {
                  border-right: 0; }
          .nav .navbox .side li .links .link-right {
            width: 210px;
            overflow: hidden;
            float: left;
            border-left: 1px dotted #e4e4e4; }
    .nav .navbox .navs {
      height: 35px; }
      .nav .navbox .navs li {
        float: left;
        height: 35px;
        padding: 0 20px; }
        .nav .navbox .navs li a {
          display: block;
          color: #333333;
          font-size: 12px;
          height: 35px;
          line-height: 35px;
          text-align: center;
          margin: 0 auto; }
        .nav .navbox .navs li .last {
          color: #ff5c00; }
      .nav .navbox .navs .more {
        position: relative; }
        .nav .navbox .navs .more ul {
          width: 88px;
          clear: both;
          height: 35px;
          position: absolute;
          top: 34px;
          left: -1px;
          z-index: 1;
          display: none; }
          .nav .navbox .navs .more ul .next {
            text-align: center; }
            .nav .navbox .navs .more ul .next a {
              display: block; }
              .nav .navbox .navs .more ul .next a:hover {
                color: #ff5c00; }

.nav .navbox .side ul li .li {
  width: 141px; }

.header .headerbox {
  height: 42px; }

.header .header-bottom {
  width: 100%;
  height: 116px;
  background: white; }
  .header .header-bottom .bottom-box {
    width: 1163px;
    height: 90px;
    padding: 26px 38px 0 42px;
    margin: 0 auto; }
    .header .header-bottom .bottom-box .left {
      margin-top: 5px;
      width: 150px;
      height: 55px;
      float: left;
      margin-right: 90px;
      background: url(../Index-img/8.png) no-repeat; }
    .header .header-bottom .bottom-box .right {
      float: left; }
      .header .header-bottom .bottom-box .right .btn {
        background: #ff5c00;
        color: white;
        font-size: 16px;
        line-height: 38px;
        text-align: center;
        width: 59px;
        height: 39px;
        float: right; }
      .header .header-bottom .bottom-box .right .txt {
        width: 429px;
        height: 35px;
        border: 2px solid #ff5c00;
        color: #666666;
        font-size: 12px;
        padding-left: 8px;
        outline: none; }
      .header .header-bottom .bottom-box .right ul li {
        float: left;
        overflow: hidden;
        color: #999999;
        font-size: 12px;
        height: 30px;
        line-height: 30px; }
        .header .header-bottom .bottom-box .right ul li a {
          color: #999999;
          font-size: 12px;
          float: left;
          padding: 0 6px; }
          .header .header-bottom .bottom-box .right ul li a:hover {
            color: #ff5c00; }
        .header .header-bottom .bottom-box .right ul li .first {
          color: #ff5c00; }
    .header .header-bottom .bottom-box .shopcars {
      position: relative;
      float: right; }
      .header .header-bottom .bottom-box .shopcars .shopa {
        display: block;
        width: 141px;
        height: 37px;
        background: #ff5c00;
        color: white;
        font-size: 12px;
        line-height: 37px; }
        .header .header-bottom .bottom-box .shopcars .shopa .iconfont {
          padding: 0 8px 0 12px;
          font-size: 20px; }
        .header .header-bottom .bottom-box .shopcars .shopa .s1 {
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-right-color: white;
          position: absolute;
          left: 96px;
          top: 15px; }
        .header .header-bottom .bottom-box .shopcars .shopa .s2 {
          float: right;
          width: 33px;
          height: 33px;
          color: #ff5c00;
          background: white;
          line-height: 33px;
          margin-top: 2px;
          margin-right: 2px;
          text-align: center; }
      .header .header-bottom .bottom-box .shopcars .shopp {
        display: none;
        position: absolute;
        top: 37px;
        right: 0;
        width: 300px;
        height: 42px;
        background: white;
        border: 1px solid #ff5c00; }
        .header .header-bottom .bottom-box .shopcars .shopp i {
          color: #ff5c00;
          font-size: 20px;
          padding: 0 10px 0 30px; }
        .header .header-bottom .bottom-box .shopcars .shopp span {
          color: #666;
          font-size: 12px;
          line-height: 42px; }

.nav .navbox {
  padding-left: 60px;
  width: 1065px; }

.goods-class {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden; }
  .goods-class .goods-class-box {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto; }
    .goods-class .goods-class-box .goods-class-left {
      width: 200px;
      float: left; }
      .goods-class .goods-class-box .goods-class-left .goods-class-left-top {
        width: 198px;
        height: 225px;
        border: 1px solid #d3d3d3;
        margin-bottom: 10px; }
        .goods-class .goods-class-box .goods-class-left .goods-class-left-top dl {
          width: 198px; }
          .goods-class .goods-class-box .goods-class-left .goods-class-left-top dl dt {
            padding-left: 10px;
            width: 188px;
            height: 28px;
            font-size: 12px;
            line-height: 28px;
            background: #f8f8f8;
            border-bottom: 1px solid #dedede; }
            .goods-class .goods-class-box .goods-class-left .goods-class-left-top dl dt a {
              color: #ff7800; }
            .goods-class .goods-class-box .goods-class-left .goods-class-left-top dl dt span {
              color: #ff7800; }
          .goods-class .goods-class-box .goods-class-left .goods-class-left-top dl dd {
            padding-left: 10px;
            width: 188px;
            height: 28px;
            font-size: 12px;
            background: #fff;
            line-height: 28px; }
            .goods-class .goods-class-box .goods-class-left .goods-class-left-top dl dd a {
              color: #333; }
            .goods-class .goods-class-box .goods-class-left .goods-class-left-top dl dd span {
              color: #333;
              padding-left: 5px; }
      .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom {
        width: 198px;
        border: 1px solid #d3d3d3; }
        .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom .title {
          height: 28px;
          font-size: 12px;
          padding-left: 10px;
          color: #000000;
          line-height: 28px;
          background: #f8f8f8;
          border-bottom: 1px solid #dedede; }
        .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li:nth-child(2) {
          background: white url(../page-img/1.jpg) no-repeat 5px 9px; }
        .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li:nth-child(3) {
          background: white url(../page-img/2.jpg) no-repeat 5px 9px; }
        .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li:nth-child(4) {
          background: white url(../page-img/3.jpg) no-repeat 5px 9px; }
        .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li:nth-child(5) {
          background: white url(../page-img/4.jpg) no-repeat 5px 9px; }
        .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li:nth-child(6) {
          background: white url(../page-img/5.jpg) no-repeat 5px 9px; }
        .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li:nth-child(7) {
          background: white url(../page-img/6.jpg) no-repeat 5px 9px; }
        .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li {
          width: 178px;
          padding-left: 20px;
          border-bottom: 1px dashed #ebebeb; }
          .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li .word {
            height: 31px;
            color: #333;
            font-size: 12px;
            line-height: 31px; }
          .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li .infor {
            display: none;
            width: 178px;
            height: 78px;
            padding-top: 5px; }
            .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li .infor img {
              float: left;
              width: 80px;
              height: 73px;
              margin-top: 2px; }
            .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li .infor .infor-right {
              float: left; }
              .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li .infor .infor-right a {
                display: block;
                width: 85px;
                color: #333;
                line-height: 18px;
                font-size: 12px; }
                .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li .infor .infor-right a:hover {
                  color: #ff5c00; }
              .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom li .infor .infor-right p {
                margin-top: 5px;
                width: 85px;
                height: 18px;
                color: #e60000;
                line-height: 18px;
                font-size: 12px;
                font-weight: 900; }
        .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom .first-li .word {
          display: none; }
        .goods-class .goods-class-box .goods-class-left .goods-class-left-bottom .first-li .infor {
          display: block; }
    .goods-class .goods-class-box .goods-class-right {
      width: 788px;
      float: right;
      border: 1px solid #d3d3d3; }
      .goods-class .goods-class-box .goods-class-right .goods-class-right-top .good-list {
        height: 28px;
        padding-left: 20px;
        background: #f8f8f8;
        border-bottom: 1px solid #dedede; }
        .goods-class .goods-class-box .goods-class-right .goods-class-right-top .good-list a {
          float: left;
          color: #000;
          height: 28px;
          line-height: 28px;
          font-size: 12px;
          padding: 0 4px; }
          .goods-class .goods-class-box .goods-class-right .goods-class-right-top .good-list a i {
            font-size: 10px; }
        .goods-class .goods-class-box .goods-class-right .goods-class-right-top .good-list a:nth-child(2) {
          color: #333; }
          .goods-class .goods-class-box .goods-class-right .goods-class-right-top .good-list a:nth-child(2):hover {
            color: #ff5c00; }
            .goods-class .goods-class-box .goods-class-right .goods-class-right-top .good-list a:nth-child(2):hover i {
              color: #333; }
        .goods-class .goods-class-box .goods-class-right .goods-class-right-top .good-list a:nth-child(3) {
          color: #333; }
          .goods-class .goods-class-box .goods-class-right .goods-class-right-top .good-list a:nth-child(3):hover {
            color: #ff5c00; }
      .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom {
        background: white;
        padding-bottom: 15px; }
        .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes {
          width: 756px;
          overflow: hidden;
          position: relative;
          margin: 0 auto;
          padding: 8px 0 8px 20px;
          border-bottom: 1px dashed #ebebeb; }
          .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes p {
            width: 72px;
            color: #666;
            line-height: 18px;
            font-size: 12px;
            text-align: right;
            float: left; }
          .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes .u-class {
            width: 622px;
            font-family: "宋体";
            float: left; }
            .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes .u-class li {
              float: left; }
              .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes .u-class li a {
                display: block;
                padding: 0 10px;
                color: #0081cc;
                font-size: 12px;
                line-height: 20px;
                height: 20px; }
                .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes .u-class li a:hover {
                  color: #ff0000; }
          .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes .type {
            height: 40px;
            overflow: hidden; }
            .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes .type li {
              width: 123px; }
          .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes .class-btn1 {
            display: none;
            position: absolute;
            left: 725px;
            top: 12px;
            width: 48px;
            height: 22px;
            line-height: 22px;
            color: #ff9900;
            font-size: 12px;
            background: url(../page-img/55.jpg);
            border: 1px solid #ffe18d;
            border-radius: 4px; }
            .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes .class-btn1 img {
              float: left;
              width: 7px;
              height: 4px;
              margin: 9px 6px 0; }
          .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes .class-btn2 {
            position: absolute;
            left: 725px;
            top: 12px;
            width: 48px;
            height: 22px;
            line-height: 22px;
            color: #ff9900;
            font-size: 12px;
            background: url(../page-img/55.jpg);
            border: 1px solid #ffe18d;
            border-radius: 4px; }
            .goods-class .goods-class-box .goods-class-right .goods-class-right-bottom .classes .class-btn2 img {
              float: left;
              width: 7px;
              height: 4px;
              margin: 9px 6px 0; }

.contain {
  width: 1000px;
  margin: 0 auto; }
  .contain .contain-box {
    width: 790px;
    margin-left: 210px; }
    .contain .contain-box .contain-box-top {
      height: 31px; }
      .contain .contain-box .contain-box-top .goods-order {
        float: left;
        height: 31px; }
        .contain .contain-box .contain-box-top .goods-order li {
          float: left; }
          .contain .contain-box .contain-box-top .goods-order li a {
            display: block;
            width: 66px;
            height: 30px;
            background: #f4f4f4;
            color: #333;
            font-size: 12px;
            text-align: center;
            line-height: 30px;
            border: 1px solid #eaeaea;
            border-bottom: 0; }
            .contain .contain-box .contain-box-top .goods-order li a:hover {
              color: white;
              background: #ff5c00; }
        .contain .contain-box .contain-box-top .goods-order .one {
          background: #ff5c00;
          color: white;
          border-left: 0; }
      .contain .contain-box .contain-box-top .pagin {
        float: right;
        width: 142px; }
        .contain .contain-box .contain-box-top .pagin .text {
          padding: 0 10px 0 6px;
          line-height: 25px;
          font-size: 12px;
          float: left;
          color: #666; }
          .contain .contain-box .contain-box-top .pagin .text strong {
            color: #e60000; }
        .contain .contain-box .contain-box-top .pagin a {
          float: left;
          width: 46px;
          height: 23px;
          font-size: 12px;
          line-height: 23px;
          background: white;
          text-align: center;
          color: #ffb36f;
          border: 1px solid #ffb36f; }
        .contain .contain-box .contain-box-top .pagin .prev-page {
          margin-right: 10px; }
    .contain .contain-box .contain-box-center {
      width: 788px;
      background: white;
      padding-bottom: 10px;
      clear: both;
      border: 1px solid #d3d3d3;
      border-top: 2px solid #fa8d2d; }
      .contain .contain-box .contain-box-center ul {
        font-family: "宋体";
        overflow: hidden;
        padding-bottom: 4px; }
        .contain .contain-box .contain-box-center ul li {
          float: left;
          width: 165px;
          height: 285px;
          padding-left: 5px;
          padding-top: 5px;
          background: white;
          margin: 10px 10px 0 15px; }
          .contain .contain-box .contain-box-center ul li:hover {
            box-shadow: 2px 2px 2px #f5f5f5,-2px -2px 2px #f5f5f5; }
          .contain .contain-box .contain-box-center ul li dl dt a img {
            margin-bottom: 5px;
            display: block;
            width: 160px;
            height: 160px; }
          .contain .contain-box .contain-box-center ul li dl dd .goods-name {
            width: 160px;
            height: 54px; }
            .contain .contain-box .contain-box-center ul li dl dd .goods-name a {
              display: inline-block;
              color: #333;
              font-size: 12px;
              line-height: 18px; }
              .contain .contain-box .contain-box-center ul li dl dd .goods-name a span {
                color: red; }
          .contain .contain-box .contain-box-center ul li dl dd .goods-price span {
            color: #e60000;
            font-size: 12px;
            line-height: 30px;
            font-weight: 900; }
          .contain .contain-box .contain-box-center ul li dl dd .btns .btn-c {
            float: left;
            width: 77px;
            height: 30px;
            background: #ff5a00;
            color: white;
            font-size: 12px;
            line-height: 30px;
            text-align: center;
            border-radius: 2px;
            margin-right: 10px; }
          .contain .contain-box .contain-box-center ul li dl dd .btns .btn-s {
            float: left;
            width: 39px;
            height: 28px;
            color: #666;
            line-height: 28px;
            font-size: 12px;
            text-align: center;
            border: 1px solid #dedede;
            border-radius: 2px;
            background: #efefef; }
    .contain .contain-box .contain-box-bottom {
      width: 790px;
      height: 47px;
      padding-top: 23px; }
      .contain .contain-box .contain-box-bottom .contain-box-bottom-fenye {
        height: 25px;
        width: 276px;
        margin-left: 20px; }
        .contain .contain-box .contain-box-bottom .contain-box-bottom-fenye a {
          float: left;
          padding: 0 6px;
          border: 1px solid #ccc;
          height: 23px;
          line-height: 23px;
          color: #b1b1b1;
          font-size: 12px;
          text-align: center;
          background: white;
          margin-right: 5px; }
        .contain .contain-box .contain-box-bottom .contain-box-bottom-fenye #page {
          overflow: hidden;
          float: left; }
          .contain .contain-box .contain-box-bottom .contain-box-bottom-fenye #page li {
            float: left; }
            .contain .contain-box .contain-box-bottom .contain-box-bottom-fenye #page li a {
              padding: 0 6px;
              border: 1px solid #ccc;
              height: 23px;
              line-height: 23px;
              color: #b1b1b1;
              font-size: 12px;
              text-align: center;
              background: white;
              margin-right: 5px; }
              .contain .contain-box .contain-box-bottom .contain-box-bottom-fenye #page li a:hover {
                color: #ff5c00;
                border-color: #ff5c00; }
            .contain .contain-box .contain-box-bottom .contain-box-bottom-fenye #page li a.active {
              color: white;
              background: #ff5c00; }

#last, #footer {
  clear: both; }

/*# sourceMappingURL=page.css.map */
